.view_name {
    color: #0000ff;
}

.base_pos {
    position: relative;
    top: 0px;
    left: 0px;
}


#button {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    color: #0000FF;
    width: 200px;
    height: 200px;
    background-color: #00FF00;
}
