.test {
    color: #0000ff;
}

.calc_pos {
    
    position: relative;
    top:　100px;
    left: 100px;
}

.sample1 {
    position: absolute;
    top: 90px;
    left: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd700;
}

.sample2 {
    position: absolute;
    top: 90px;
    left: 60px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd700;
}

.sample3 {
    position: absolute;
    top: 90px;
    left: 120px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd700;

}

.sample4 {
    position: absolute;
    top: 90px;
    left: 180px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd700;

}

.sample5 {
    position: absolute;
    top: 90px;
    left: 240px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ff8c00;

}

.sample6 {
    position: absolute;
    top: 90px;
    left: 300px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ff8c00;

}

.sample7 {
    position: absolute;
    top: 90px;
    left: 360px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ff8c00;

}

.sample8 {
    position: absolute;
    top: 90px;
    left: 420px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ff8c00;

}

.sample9 {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd700;

}

.sample10 {
    position: absolute;
    top: 150px;
    left: 60px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd700;

}

.sample11 {
    position: absolute;
    top: 150px;
    left: 120px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd700;

}

.sample12 {
    position: absolute;
    top: 150px;
    left: 180px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd700;

}

.sample13 {
    position: absolute;
    top: 150px;
    left: 240px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #66cdaa;

}

.sample14 {
    position: absolute;
    top: 150px;
    left: 300px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #66cdaa;

}

.sample15 {
    position: absolute;
    top: 150px;
    left: 360px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #66cdaa;

}

.sample16 {
    position: absolute;
    top: 150px;
    left: 420px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #66cdaa;

}

.sample17 {
    position: absolute;
    top: 210px;
    left: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd700;

}

.sample18 {
    position: absolute;
    top: 210px;
    left: 60px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd700;

}

.sample19 {
    position: absolute;
    top: 210px;
    left: 120px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ffd700;

}

.sample20 {
    position: absolute;
    top: 210px;
    left: 180px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: #ffd700;

}

.sample21 {
    position: absolute;
    top: 210px;
    left: 240px;
    width: 230px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #ff1493;

}

.sample22 {
    position: absolute;
    top: -20px;
    left: 0px;
    width: 470px;
    height: 35px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #d3d3d3;
    
}










